<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.app1-AltamiranoJaramillo"
    version   = "1.0.0">

<name>Mi Appt</name>

<description>
Mi Primera Aplicacion en Phonegap.
</description>

<author href="https://example.com" email="you@example.com">
Altamirano Jaramillo Polo
</author>

</widget>
